modules = ["nodejs-20", "web", "postgresql-16", "node"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["imagemagick", "ffmpeg", "yt-dlp"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 5002
externalPort = 3002

[[ports]]
localPort = 5003
externalPort = 3003

[[ports]]
localPort = 5004
externalPort = 4200

[[ports]]
localPort = 5005
externalPort = 3001

[[ports]]
localPort = 5006
externalPort = 5173

[[ports]]
localPort = 5010
externalPort = 5000

[[ports]]
localPort = 5015
externalPort = 6000

[[ports]]
localPort = 5016
externalPort = 6800

[[ports]]
localPort = 5017
externalPort = 8008

[[ports]]
localPort = 5904
externalPort = 8000

[env]
PORT = "5000"

[deployment]
deploymentTarget = "gce"
run = ["node", "--max-old-space-size=1536", "dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_OPTIONS='--max-old-space-size=1536' NODE_ENV=production node dist/index.cjs"
waitForPort = 5000

[agent]
integrations = ["javascript_log_in_with_replit:2.0.0", "javascript_openai_ai_integrations:2.0.0", "stripe:2.0.0", "google-mail:1.0.0", "javascript_anthropic_ai_integrations:2.0.0"]

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BGqxdJN5Vdr_obD35xNo-_gU9LGt5RZyfXyZ7WAMPmonU6h76Q0WbMEVjuRrhcdMIMr4QVvwUqVzO4EIOKwP0Bc"
VAPID_PRIVATE_KEY = "cInyyHI2VRaPElnB6UzEB9_YGsUjQ7K-VrqqQhmcjvQ"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000
